.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}
.grey{
    background-color: grey;
}
.black{
    background-color: black;
}
.teal{
    background-color: teal;
}
.brown{
    background-color: brown;
}